/*전체 레이아웃 */
body.login-page {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

/* 로그인 영역 css*/
.login-card {
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  padding: 2rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #333;
}

/*회원가입 css*/
.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
